USE [master]
GO
/****** Object:  Database [BookstoreDB]    Script Date: 1/29/2026 10:42:56 PM ******/
CREATE DATABASE [BookstoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookstoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BookstoreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookstoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BookstoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookstoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookstoreDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1/29/2026 10:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 1/29/2026 10:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NULL,
	[BookTitle] [nvarchar](200) NOT NULL,
	[ProductImage] [nvarchar](255) NULL,
	[ProductPrice] [decimal](10, 2) NOT NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1/29/2026 10:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[ShippingAddress] [nvarchar](255) NULL,
	[TotalAmount] [decimal](12, 2) NULL,
	[RecipientName] [nvarchar](100) NULL,
	[RecipientEmail] [nvarchar](100) NULL,
	[RecipientPhone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductInteractions]    Script Date: 1/29/2026 10:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductInteractions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ActionType] [nvarchar](10) NULL,
	[ActionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 1/29/2026 10:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookTitle] [nvarchar](200) NOT NULL,
	[Author] [nvarchar](100) NULL,
	[Publisher] [nvarchar](100) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[StockQuantity] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](255) NULL,
	[CategoryId] [int] NOT NULL,
	[ViewCount] [int] NULL,
	[LikeCount] [int] NULL,
	[DislikeCount] [int] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductWishlist]    Script Date: 1/29/2026 10:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductWishlist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/29/2026 10:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Role] [nvarchar](10) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 1/29/2026 10:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[AddedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [CategoryName], [Description]) VALUES (1, N'Văn học', N'Tiểu thuyết, truyện ngắn, thơ')
INSERT [dbo].[Categories] ([Id], [CategoryName], [Description]) VALUES (2, N'Kinh tế', N'Sách về kinh doanh, tài chính, khởi nghiệp')
INSERT [dbo].[Categories] ([Id], [CategoryName], [Description]) VALUES (3, N'Kỹ năng sống', N'Phát triển bản thân, tư duy')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [BookTitle], [ProductImage], [ProductPrice], [Quantity]) VALUES (1, 1, 13, N'Đắc Nhân Tâm', N'/images/dacnhantam.jpg', CAST(89000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [BookTitle], [ProductImage], [ProductPrice], [Quantity]) VALUES (2, 1, 14, N'Nhà Giả Kim', N'/images/nhagiakim.jpg', CAST(79000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [BookTitle], [ProductImage], [ProductPrice], [Quantity]) VALUES (3, 2, 16, N'Clean Code', N'/images/cleancode.jpg', CAST(350000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [Status], [ShippingAddress], [TotalAmount], [RecipientName], [RecipientEmail], [RecipientPhone]) VALUES (1, 2, CAST(N'2025-11-20T09:03:52.250' AS DateTime), N'COMPLETED', N'456 Nguyễn Huệ, Q1, HCM', CAST(168000.00 AS Decimal(12, 2)), NULL, NULL, NULL)
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [Status], [ShippingAddress], [TotalAmount], [RecipientName], [RecipientEmail], [RecipientPhone]) VALUES (2, 3, CAST(N'2025-11-20T09:03:52.270' AS DateTime), N'PENDING', N'789 Trần Hưng Đạo, Q5, HCM', CAST(350000.00 AS Decimal(12, 2)), NULL, NULL, NULL)
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [Status], [ShippingAddress], [TotalAmount], [RecipientName], [RecipientEmail], [RecipientPhone]) VALUES (3, 2, CAST(N'2025-11-22T11:50:22.470' AS DateTime), N'PENDING', N'qdwqdwdwqdwqw', CAST(358000.00 AS Decimal(12, 2)), N'dqdwqdw', N'dqwqdwqd@gmail.com', N'0352637227')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductInteractions] ON 

INSERT [dbo].[ProductInteractions] ([Id], [UserId], [ProductId], [ActionType], [ActionDate]) VALUES (1, 2, 14, N'LIKE', CAST(N'2025-11-19T09:51:24.287' AS DateTime))
INSERT [dbo].[ProductInteractions] ([Id], [UserId], [ProductId], [ActionType], [ActionDate]) VALUES (57, 2, 16, N'LIKE', CAST(N'2025-11-20T16:05:34.663' AS DateTime))
INSERT [dbo].[ProductInteractions] ([Id], [UserId], [ProductId], [ActionType], [ActionDate]) VALUES (59, 2, 15, N'LIKE', CAST(N'2025-11-20T16:17:11.950' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductInteractions] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [BookTitle], [Author], [Publisher], [Price], [StockQuantity], [Description], [ImagePath], [CategoryId], [ViewCount], [LikeCount], [DislikeCount], [CreatedDate]) VALUES (13, N'Đắc Nhân Tâm', N'Dale Carnegie', N'NXB Tổng Hợp', CAST(89000.00 AS Decimal(10, 2)), 50, N'Nghệ thuật thu phục lòng người VN', N'/images/dacnhantam.jpg', 3, 46, 15, 2, CAST(N'2025-11-19T08:45:54.967' AS DateTime))
INSERT [dbo].[Products] ([Id], [BookTitle], [Author], [Publisher], [Price], [StockQuantity], [Description], [ImagePath], [CategoryId], [ViewCount], [LikeCount], [DislikeCount], [CreatedDate]) VALUES (14, N'Nhà Giả Kim', N'Paulo Coelho', N'NXB Hội Nhà Văn', CAST(79000.00 AS Decimal(10, 2)), 30, N'Hành trình tìm kiếm kho báu tg', N'/images/nhagiakim.jpg', 1, 17, 9, 1, CAST(N'2025-11-19T08:45:54.967' AS DateTime))
INSERT [dbo].[Products] ([Id], [BookTitle], [Author], [Publisher], [Price], [StockQuantity], [Description], [ImagePath], [CategoryId], [ViewCount], [LikeCount], [DislikeCount], [CreatedDate]) VALUES (15, N'Sapiens: Lược Sử Loài Người', N'Yuval Noah Harari', N'NXB Văn Học', CAST(199000.00 AS Decimal(10, 2)), 20, N'Lược sử loài người VN', N'/images/sapiens.jpg', 2, 10, 21, 3, CAST(N'2025-11-19T08:45:54.967' AS DateTime))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductWishlist] ON 

INSERT [dbo].[ProductWishlist] ([id], [ProductId], [UserId]) VALUES (2023, 27, 1)
INSERT [dbo].[ProductWishlist] ([id], [ProductId], [UserId]) VALUES (2026, 18, 2)
SET IDENTITY_INSERT [dbo].[ProductWishlist] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Email], [Password], [FullName], [Phone], [Address], [Role], [CreatedDate]) VALUES (1, N'admin', N'admin@bookstore.com', N'123456', N'Quản Trị Viênn', N'0901234569', N'123 Lê Lợi, Q1, HC', N'ADMIN', CAST(N'2025-11-18T10:52:43.400' AS DateTime))
INSERT [dbo].[Users] ([Id], [Username], [Email], [Password], [FullName], [Phone], [Address], [Role], [CreatedDate]) VALUES (2, N'nghia123', N'nghiatranvpn@gmail.com', N'123456', N'Nguyễn Văn Nghĩa', N'0912345678', N'456 Nguyễn Huệ, Q1, HCM', N'USER', CAST(N'2025-11-18T10:52:43.400' AS DateTime))
INSERT [dbo].[Users] ([Id], [Username], [Email], [Password], [FullName], [Phone], [Address], [Role], [CreatedDate]) VALUES (3, N'anhtuan', N'tuan@gmail.com', N'123456', N'Trần Anh Tuấn', N'0923456789', N'789 Trần Hưng Đạo, Q5, HCM', N'USER', CAST(N'2025-11-18T10:52:43.400' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__8517B2E0A1D8001F]    Script Date: 1/29/2026 10:42:56 PM ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Interaction]    Script Date: 1/29/2026 10:42:56 PM ******/
ALTER TABLE [dbo].[ProductInteractions] ADD  CONSTRAINT [UQ_Interaction] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKst6qglbi54xvbkgjnkpirnwew]    Script Date: 1/29/2026 10:42:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKst6qglbi54xvbkgjnkpirnwew] ON [dbo].[ProductWishlist]
(
	[UserId] ASC,
	[ProductId] ASC
)
WHERE ([UserId] IS NOT NULL AND [ProductId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E479FE4B9B]    Script Date: 1/29/2026 10:42:56 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Wishlist]    Script Date: 1/29/2026 10:42:56 PM ******/
ALTER TABLE [dbo].[Wishlist] ADD  CONSTRAINT [UQ_Wishlist] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[ProductInteractions] ADD  DEFAULT (getdate()) FOR [ActionDate]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [LikeCount]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [DislikeCount]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('USER') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Wishlist] ADD  DEFAULT (getdate()) FOR [AddedDate]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[ProductInteractions]  WITH CHECK ADD  CONSTRAINT [FK_Interactions_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductInteractions] CHECK CONSTRAINT [FK_Interactions_Products]
GO
ALTER TABLE [dbo].[ProductInteractions]  WITH CHECK ADD  CONSTRAINT [FK_Interactions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductInteractions] CHECK CONSTRAINT [FK_Interactions_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[ProductWishlist]  WITH CHECK ADD  CONSTRAINT [FKacuyity26pxvkvii4ct26yeby] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductWishlist] CHECK CONSTRAINT [FKacuyity26pxvkvii4ct26yeby]
GO
ALTER TABLE [dbo].[ProductWishlist]  WITH CHECK ADD  CONSTRAINT [FKmrnbgkhoxee0i4q1do466kmfo] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ProductWishlist] CHECK CONSTRAINT [FKmrnbgkhoxee0i4q1do466kmfo]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Wishlist] CHECK CONSTRAINT [FK_Wishlist_Products]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlist] CHECK CONSTRAINT [FK_Wishlist_Users]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([Status]='CANCELLED' OR [Status]='COMPLETED' OR [Status]='PENDING'))
GO
ALTER TABLE [dbo].[ProductInteractions]  WITH CHECK ADD CHECK  (([ActionType]='DISLIKE' OR [ActionType]='LIKE'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='USER' OR [Role]='ADMIN'))
GO
USE [master]
GO
